/* basic styles >=992*/

h1 {
	text-align : center;
}

.help1,.help2,.help3{
	width:33.3%;
	float : left;
}

.div1,.div2,.div3 {
	position : relative;
	overflow : auto;
	padding : 20px;
	border : 2px solid black;
	margin : 10px;
	background-color : gray;
}

div.head1,div.head2,div.head3{
	position : absolute;
	top : 0px;
	right : 0px;
	padding: 10px;
}

.head1 {
	background-color : pink;
}

.head2 {
	background-color : red;
	color : white;
}

.head3 {
	background-color : yellow;
}


/* medium styles 768-991*/
@media (min-width: 768px) and (max-width: 991px) {
	.help1 , .help2{
		width : 50%;
	}
	.help2 {
		clear : right;
	}
	.help3 {
		width : 100%;
	}
}

/* small styles <=767*/

@media (max-width: 767px) {
	.help1, .help2, .help3{
		float : none;
		width : 100%;
	}
}
